@font-face {
  font-family: "vt323";
  src: url('./fontes/VT323-Regular.ttf');
}
.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: grey;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: black;
}


body::after {
  content: "";
  background-image: url(arcade-11.jpeg);
  
  background-size:cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.jogo-do-galo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.titulo{
  /* background-color: greenyellow; */
  font-family: 'VT323';
  font-weight: normal;
  font-size: 60px;
  color: white;
  margin-top: 100px;
}
.jogo-do-galo td {
  width: 100px;
  height: 100px;
  background-color: #eee;
  font-family: 'VT323';
  font-size: 100px; 
}

.vencedor{
  /* background-color: blue; */
  font-family: 'VT323';
  font-size: 28px;
  color:white;
} 

.butRestart{
  padding: 20px 24px;
  font-family: 'VT323';
  transition-duration: .1s;
  font-size: 25px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  
}
.butRestart:hover{
  /* background-color: white; /* Green */
  /*color: #eee; */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    cursor: pointer;
}

.butRestart:active {
  z-index: 0;
  background-color: grey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  cursor: pointer;
}
.jogadorAtual{
  /* background-color: green; */
  margin: 20px;
  font-size: 30px;
  font-family: 'VT323';
  color: white;
  padding: 10px 15px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    border: none;
    border-radius: 15px;
    

    background-color: #eee;
}

.gameOver{
  /* background-color: red; */
  font-family: 'VT323';
  font-size: 35px;
  margin: 20px;
  color: white;
  animation: rainbow 2.5s linear;
	animation-iteration-count: infinite;
}

.click{
    padding: 10px 15px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

}
.click:hover {
  background-color: grey;
  color:white;

}
.click:active {
    background-color: grey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .active {
    z-index: 3;
  }

.jogadorAtual{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
  align-self: center;
  margin: 0 auto;
  margin-top: 10px;
  width: 200px;
  font-size: 60px;
  position: relative;
}

.ativo {  
  border-style: dashed;
  /* border-color: ; */

  
  width: 2.5ch;
  height: 60px;
  position: absolute;
  right: 20%;
  z-index: 0;
  transform: translateX(0);
  transition: transform .4s ease;
}
.ativo.other {
  transform: translateX(-112%);
}
button {
  margin-top: 60px;
}




@media only screen and (max-width: 700px) {
  .jogo-do-galo td {
    width: 50px;
    height: 50px;
    font-size: 50px; 

  }

  button {
    margin-top: 30px;
  }
}




.rainbow{
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
}

@keyframes rainbow{
  100%,0%{
    color: rgb(255,0,0);
  }
  8%{
    color: rgb(255,127,0);
  }
  16%{
    color: rgb(255,255,0);
  }
  25%{
    color: rgb(127,255,0);
  }
  33%{
    color: rgb(0,255,0);
  }
  41%{
    color: rgb(0,255,127);
  }
  50%{
    color: rgb(0,255,255);
  }
  58%{
    color: rgb(0,127,255);
  }
  66%{
    color: rgb(0,0,255);
  }
  75%{
    color: rgb(127,0,255);
  }
  83%{
    color: rgb(255,0,255);
  }
  91%{
    color: rgb(255,0,127);
  }
}
